<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hub</title>
    <link rel="stylesheet" href="assets/css/bootstrap.min.css"></link>
    <script type='text/javascript' src='assets/js/angular.min.js'></script>
    <script type='text/javascript' src='assets/js/angular-route.js'></script>
    <!-- Controllers -->
    <script type='text/javascript' src='app/app.js'></script>
    <script type='text/javascript' src='app/components/signup/signup.js'></script>
  </head>
  <body ng-app='myApp' ng-controller='AppController'>
    <div ng-view></div>
  </body>
</html>
